@model WebApp.ViewModels.ExpenseVM

@{
    ViewData["Title"] = "CreateExpense";
}

<h1>Create Expense</h1>

<h4>ExpenseVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateExpenseAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryGuid" class="control-label"></label>
                <select asp-for="CategoryGuid" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Expenses">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
