@model CategoryVM

@{
    ViewBag.Title = "Create category";
    Layout = "_Layout";
}
<h1>Create category</h1>
<hr/>
<form asp-controller="Category" asp-action="CreateCategoryAction">
    <div class="mb-4">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Color" class="form-label"></label>
        <input asp-for="Color" type="color" class="form-control form-control-color">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a type="button" class="btn btn-danger" asp-action="Categories">Cancel</a>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
