@model BudgetVM

@{
    ViewData["Title"] = "EditBudget";
}

<h1>EditBudget</h1>

<h4>BudgetVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBudgetAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="UserId" class="control-label"></label> *@
            @*     <input asp-for="UserId" class="form-control" /> *@
            @*     <span asp-validation-for="UserId" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="CategoryId" class="control-label"></label> *@
            @*     <input asp-for="CategoryId" class="form-control" /> *@
            @*     <span asp-validation-for="CategoryId" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Budgets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
